################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.dll
/packages
/SanpiNetwork/bin
/SanpiNetwork/obj
